<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Secret Diary</title>
</head>

<body>
    <h1>Your Diary Page</h1>
    <p><strong>Name:</strong>
        <%= userData.name %>
    </p>
    <p><strong>Email:</strong>
        <%= userData.email %>
    </p>

    <h2> Your Entries </h2>
    <ul>
        <% userData.entires.forEach(entry=> {
            %> <li>
                <%= entry %>
            </li>
            <% }) %>

    </ul>

    <a href="/logout">Logout</a>
</body>

</html>